<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green River Document Modifier</title>
    <!-- style sheet -->
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/formStyles.css" />

    <!-- Javascript link -->
    <script src="/js/LOC.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
    <!-- <script src="/js/Story.js" defer></script> -->
    <link
      rel="stylesheet"
      href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css"
    />
  </head>
  <body>
    <main>
      <h1>Admin</h1>
      <table id="order-table" class="display">
        <thead>
          <tr>
            <th>division</th>
            <th>dean</th>
            <th>PEN</th>
            <th>Rep</th>
            <th>Chair</th>
            <th>Academic Program</th>
          </tr>
        </thead>
        <tbody>
          <% Object.entries(orders).forEach(([division, contacts]) => { %>
          <tr>
            <td><%= division %></td>
            <td><%= contacts[0] %></td>
            <td><%= contacts[1] %></td>
            <td><%= contacts[2] %></td>
            <td><%= contacts[3] %></td>
            <td><%= contacts[4] %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <button class="btn"><a href="/">Submit a Form</a></button>
      <button class="btn"><a href="/admin">go to Admin</a></button>
      <button onclick="toggleFormDisplay()" class="btn" id="editBtn">
        Edit
      </button>

      <section id="adminForm">
        <form action="">
          <div id="formContainer">
            <section id="controls">
              <div class="selectors">
                <label for="division">Division:</label>
                <select id="division" name="division">
                  <option value="none">Select a Division</option>
                  <option value="FineArt">Fine Arts</option>
                  <option value="Humanities">Humanities</option>
                  <option value="SocialScience">Social Science</option>
                  <option value="English">English</option>
                  <option value="Science">Science</option>
                  <option value="Technology">Technology</option>
                  <option value="HealthScience">Health Science</option>
                  <option value="Trades">Trades</option>
                </select>

                <!-- division Name-->
                <div id="division-names" style="display: grid">
                  <!-- Academic Program -->
                  <div class="program">
                    <span id="err-Program" class="error">
                      Academic Program cannot be empty!</span
                    >
                    <label for="program"
                      >Academic Program:<input type="text" id="program"
                    /></label>
                  </div>

                  <!-- Payee(s) -->
                  <div class="payee">
                    <span id="err-Payee" class="error">
                      Payee(s) cannot be empty!</span
                    >
                    <label for="payee"
                      >Payee(s):<input type="text" id="payee" name="payee"
                    /></label>
                  </div>
                  <!-- Has Been Paid (Yes/No) -->
                  <div class="paid">
                    <span id="err-Paid" class="error">
                      paid option cannot be empty!</span
                    >
                    <label for="paid">Has Been Paid (Yes/No):</label>
                    <select id="paid" name="paid">
                      <option value="none">Select an option</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                  </div>
                  <!-- Report Submitted (Yes/No) -->
                  <div class="report">
                    <span id="err-Report" class="error">
                      report option cannot be empty!</span
                    >
                    <label for="report">Report Submitted (Yes/No):</label>
                    <select id="report" name="report">
                      <option value="none">Select an option</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                  </div>
                  <!-- Notes -->
                  <div class="notes">
                    <span id="err-Notes" class="error">
                      Notes cannot be empty!</span
                    >
                    <label for="notes"
                      >Notes:<textarea
                        type="text"
                        id="notes"
                        name="notes"
                      ></textarea>
                    </label>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </form>
      </section>
    </main>

    <script defer>
      let table = new DataTable("#order-table");
    </script>
  </body>
</html>
