<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green River Document Modifier</title>
    <!-- style sheet -->
    <link rel="stylesheet" href="/styles/styles.css" />

    <!-- Javascript link -->
    <script src="/js/LOC.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
    <!-- <script src="/js/Story.js" defer></script> -->
     <link rel="stylesheet" href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">
  </head>
  <body>
    <main>
        <h1>Admin</h1>
        <table id="order-table" class="display">
            <thead>
                <tr>
                    <th>division</th>
                    <th>dean</th>
                    <th>PEN</th>
                    <th>Rep</th>
                    <th>Chair</th>
                    <th>Academic Program</th>
                    
                </tr>
            </thead>
            <tbody>
              <% Object.entries(orders).forEach(([division, contacts]) => { %>
              <tr>
                  <td><%= division %></td>
                  <td><%= contacts[0] %></td>
                  <td><%= contacts[1] %></td>
                  <td><%= contacts[2] %></td>
                  <td><%= contacts[3] %></td>
                  <td><%= contacts[4] %></td>
              </tr>
              <% }); %>
            </tbody>
        </table>
        <button><a href="/">submit a form</a></button>
        <button><a href="/admin">go to admin</a></button>
    </main>
    <script defer>
        let table = new DataTable('#order-table');
    </script>
  </body>
</html>
