<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green River Document Modifier</title>
    <!-- style sheet -->
    <link rel="stylesheet" href="/styles/styles.css" />

    <!-- Javascript link -->
    <script src="/js/LOC.js" defer></script>
    <!-- <script src="/js/Story.js" defer></script> -->
  </head>
  <body>
    <header>
      <div>
        <img src="/img/GRC_Logo_White.png" alt="Green River Logo" />
        <h1>Green River Document Confirmation</h1>
      </div>
    </header>
    <main id="confirmation">
      <h2 id="confirm-title">Order Summary</h2>
      <div id="confirmation-table">
        <p><strong> Division: </strong> <%= order.division %></p>
        <p><strong>Dean: </strong> <%= order.dean %></p>
        <p><strong>PEN: </strong> <%= order.PEN %></p>
        <p><strong>Rep: </strong> <%= order.Rep %></p>
        <p><strong>Chair: </strong><%= order.Chair %></p>
        <p><strong>Academic Program: </strong> <%= order.program %></p>
        <p><strong>Payees: </strong> <%= order.payee || order.Payees %></p>
        <p><strong>Paid: </strong> <%= order.paid || order.Paid %></p>
        <p><strong>Report: </strong> <%= order.report || order.Report %></p>
        <p><strong>Notes: </strong> <%= order.notes || order.Notes %></p>
      </div>
      <a href="/">Submit a Form</a>
      <a href="/admin">Go to Admin</a>
    </main>
  </body>
</html>
