<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green River Document Modifier</title>
    <!-- style sheet -->
    <link rel="stylesheet" href="/styles/styles.css" />

    <!-- Javascript link -->
    <script src="/js/LOC.js" defer></script>
    <!-- <script src="/js/Story.js" defer></script> -->
  </head>
  <body>
    <header>
      <h1>Green River Document Confirmation</h1>
    </header>
    <h2>Order Summary</h2>
    <p>division: <%= order.division %></p>
    <p>dean: <%= order.dean %></p>
    <p>PEN: <%= order.PEN %></p>
    <p>Rep: <%= order.Rep %></p>
    <p>Chair: <%= order.Chair %></p>
    <p>Academic Program: <%= order.program  %></p>
    <p>Payees: <%= order.payee || order.Payees %></p>
    <p>Paid: <%= order.paid || order.Paid %></p>
    <p>Report: <%= order.report || order.Report %></p>
    <p>Notes: <%= order.notes || order.Notes %></p>
    <button><a href="/">submit a form</a></button>
    <button><a href="/admin">go to admin</a></button>
  </body>
</html>
