<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green River Document Modifier</title>
    <!-- style sheet -->
    <link rel="stylesheet" href="/styles/styles.css" />

    <!-- Javascript link -->
    <script src="/js/LOC.js" defer></script>
    <!-- <script src="/js/Story.js" defer></script> -->
  </head>
  <body>
    <h1>Confirmation</h1>
    <h2>Order Summary</h2>
    <p>division: <%= order.division %></p>
    <p>dean: <%= order.dean %></p>
    <p>PEN: <%= order.PEN %></p>
    <p>Rep: <%= order.Rep %></p>
    <p>Chair: <%= order.Chair %></p>
  </body>
</html>
