<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green River LOC</title>
    <link rel="icon" href="/img/GRC_Logo_White.png" />

    <!-- style sheet -->
    <link rel="stylesheet" href="/styles/formStyles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <!-- Dont touch it works, This grabs orders data from app.js to admin.js -->

    <!-- Javascript link -->
    <!-- <script src="/js/LOC.js" defer></script> -->
    <script src="/js/admin.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
    
    <!-- <script src="/js/Story.js" defer></script> -->
    <link
    rel="stylesheet"
    href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css"
    />
  </head>
  <body>
    <header>
      <div>
        <img src="/img/GRC_Logo_White.png" alt="Green River Logo" />
        <h1>Green River LOC</h1>
      </div>
    </header>
    <main>
      
      <h2>Recent Changes Work History</h2>
      <a href="/" class="btn">Back to Summary</a>
    
      <% if (!recentChanges || recentChanges.length === 0) { %>
        <p>No recent changes found.</p>
      <% } else { %>
        <table id="order-table" class="display">
          <thead>
            <tr>
              <th>Division</th>
              <th>Program</th>
              <th>Field</th>
              <th>Old Value</th>
              <th>New Value</th>
              <th>Changed At</th>
            </tr>
          </thead>
          <tbody>
            <% recentChanges.forEach(change => { %>
              <tr>
                <td><%= change.DivisionName %></td>
                <td><%= change.ProgramName %></td>
                <td><%= change.FieldName %></td>
                <td><%= change.OldValue == 1 ? "Yes" : change.OldValue == 0 ? "No" : change.OldValue %> </td>
                <td><%= change.NewValue == 1 ? "Yes" : change.NewValue == 0 ? "No" : change.NewValue %></td>
                <td><%= new Date(change.ChangedAt).toLocaleString() %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } %>
    </main>
      <script defer>
      let table = new DataTable("#order-table");
    </script>
</body>
</html>
